<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303197404968-k0ojo1cideptc8ev0dd8pb0ifg5n65g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303197404968-k0ojo1cideptc8ev0dd8pb0ifg5n65g1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>303197404968-v9m8n6ihb8jc7ok31cv5akts1qnsjg0q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0MgXzyI1KlKTovNmYDR6sh6_iR9xY6Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>303197404968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.royalRidersApplication</string>
	<key>PROJECT_ID</key>
	<string>royal-riders-application</string>
	<key>STORAGE_BUCKET</key>
	<string>royal-riders-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303197404968:ios:2d846612b8402880001a1d</string>
</dict>
</plist>